body {  
    font-family: Arial, sans-serif;  
    background-color: #b68181de;  
    margin: 0;  
    padding: 0;  
}  
  
header {  
    background-color: #f5f1f1;  
    color: #fff;  
    padding: 20px;  
    text-align: center;  
}  
  
h1 {  
    margin: 0;  
}  
  
main {  
    padding: 20px;  
}  
  
.romantic-text {  
    text-align: center;  
    color: #f5f0f0;  
}  
  
.romantic-text h2 {  
    color: #f00; /* 设置为红色以表达爱意 */  
    margin-top: 20px;  
}  
  
.heart-image {  
    text-align: center;  
    margin-top: 30px;  
}  
  
.heart-image img {  
    width: 300px; /* 根据图片大小调整 */  
    height: auto;  
}  
  
footer {  
    background-color: #b9b7b7;  
    color: #fff;  
    padding: 10px;  
    text-align: center;  
    position: fixed;  
    bottom: 0;  
    width: 50%;  
}